// colors
$basic_green: #68b738;
$basic_grey: #f2f2f2;
$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_grey-3: #ebebeb;
$special_dark-grey: #444444;
$special_light-grey: #eaeaea;
$basic_white: #ffffff;
$basic_black: #000000;
$special_black: #111111;

// fonts
$primary-font: "Oswald", sans-serif;
$secondary-font: "Arial", sans-serif;
