@import "../global/variables";
@import "../global/mixins";

.additional-products {
  margin-top: 25px;
  margin-bottom: 35px;
}

.additional-products__title {
  margin-top: 0;
  margin-bottom: 36px;
  color: $basic_black;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.additional-products__list {
  @include reset-list;
  margin-bottom: 35px;
}

.additional-products__item {
  padding: 13px 0 19px;
  border-top: 1px solid $special_grey;

  &:last-child {
    border-bottom: 1px solid $special_grey;
  }
}

@media (min-width: $tablet_width) {
  .additional-products__item {
    border-left: 1px solid $special_grey;
    border-right: 1px solid $special_grey;
    padding: 26px 38px 28px;
  }
}

@media (min-width: 1280px) {
  .additional-products__container {
    display: flex;
    flex-wrap: wrap;
  }

  .additional-products__title {
    flex-basis: 100%;
  }

  .additional-products__list {
    flex-basis: 895px;
  }
}

@media (min-width: $desktop_width) {
  .additional-products__item {
    padding: 15px 0 17px;
  }
}
