@import "../global/variables";

.banner {
  background: url("../img/gift-background.png") no-repeat center;
  position: relative;
  min-height: 290px;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 183, 56, 0.85);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 58px;
    width: 78px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
  }
}

.banner__text {
  margin: 0;
  padding-top: 185px;
  padding-bottom: 43px;
  color: $basic_white;
  font-family: $secondary_font;
  position: relative;
  max-width: 160px;
  text-align: center;
}

@media (min-width: $tablet_width) {
  .banner {
    min-height: 200px;
    max-height: 200px;
    align-items: center;

    &::after {
      left: 77px;
    }
  }

  .banner__text {
    padding: 0;
    margin-left: auto;
    margin-right: 124px;
    text-align: left;
    line-height: 20px;
  }
}

@media (min-width: 1280px) {
  .banner {
    width: 245px;
    margin-left: auto;
    min-height: 288px;

    &::after {
      left: unset;
    }
  }

  .banner__text {
    margin: auto 0 42px;
    text-align: center;
  }
}
