@import "../global/variables";

.button {
  border: 0;
  background-color: $basic_green;
  color: $basic_white;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;

  &:hover,
  &:focus {
    background-color: $basic_green-2;
  }

  &:active {
    color: rgba($basic_white, 0.3);
  }
}

@media (min-width: $tablet_width) {
  .button {
    font-size: 20px;
    line-height: 26px;
  }
}
