@import "../global/variables";

.button {
  border: 0;
  background-color: $basic_green;
  color: $basic_white;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet_width) {
  .button {
    font-size: 20px;
    line-height: 26px;
  }
}
