@import "../global/variables";
@import "../global/mixins";

.catalog__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -20px;
}

.catalog__item {
  position: relative;
  padding: 19px 0 25px;
  margin-right: 20px;
  width: 280px;

  &::before,
  &:last-child::after {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    height: 1px;
    width: calc(100% + 40px);
    background-color: $special_grey-3;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@media (min-width: $tablet_width) {
  .catalog__list {
    margin-right: -60px;
  }

  .catalog__item {
    border-top: 0;
    padding: 0 38px 39px;
    margin-right: 60px;
    margin-bottom: 68px;
    height: 430px;
    width: 324px;
    background-color: $basic_grey;

    &::before,
    &:last-child::after {
      content: none;
    }
  }
}

@media (min-width: $desktop_width) {
  .catalog__title {
    margin-bottom: 165px;
  }

  .catalog__list {
    margin-right: -80px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 63px;
  }
}
