@import "../global/variables";
@import "../global/mixins";

.container {
  padding-left: 20px;
  padding-right: 20px;
  @include margin-side-auto();
}

@media (min-width: $tablet_width) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop_width) {
  .container {
    max-width: 1280px;
  }
}
