@import "../global/variables";

.copyright__link {
  color: $special_dark-grey;
  font-family: $secondary_font;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: $tablet_width) {
  .copyright__link {
    width: max-content;
    margin-left: auto;
  }

  .copyright__text {
    margin-right: 22px;
  }
}
