@import "../global/variables";
@import "../global/mixins";

.example {
  background-color: $special_light-grey;
  padding: 25px 0 40px;
}

.example__title {
  @include section-title;
  margin: 0 0 40px;
}

.example__text {
  font-family: $secondary_font;
  margin-top: 0;
  margin-bottom: 20px;
}

.example__data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.example__stats {
  padding: 14px 15px 18px;
  flex-basis: 124px;
}

.example__price {
  margin-top: 34px;
  margin-bottom: 40px;
  color: $basic_black;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  flex-basis: 100%;
}

.example__states {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.example__button {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: $basic_black;
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.example__line {
  margin-left: 13px;
  margin-right: 13px;
  background-color: $basic_white;
  border: 1px solid $special_grey;
  border-radius: 6px;
  width: 86px;
  height: 14px;
  position: relative;
}

.example__line-indicator {
  position: absolute;
  top: 3px;
  left: 6px;
  background-color: $basic_green;
  border-radius: 6px;
  width: 36px;
  height: 6px;
}

@media (min-width: $tablet_width) {
  .example {
    background-color: transparent;
    padding-bottom: 0;
  }

  .example__container {
    border-top: 1px solid #e6e6e6;
    padding-top: 43px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: inline-block;
      height: 462px;
      width: 100%;
      background-color: $special_light-grey;
    }
  }

  .example__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
  }

  .example__text {
    margin-bottom: 54px;
  }

  .example__data {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .example__stats {
    flex-basis: 162px;
    margin-right: 42px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .example__price {
    margin-left: auto;
    flex-basis: 174px;
    text-align: right;
  }

  .example__images {
    margin-top: 80px;
    position: relative;
    min-height: 632px;
  }
}

@media (min-width: $desktop_width) {
  .example__container {
    display: flex;
    padding-bottom: 65px;
    border: 0;

    &::after {
      left: -80px;
      right: -80px;
      width: 1440px;
    }
  }

  .example__content {
    max-width: 440px;
  }

  .example__data {
    flex-wrap: wrap;
  }

  .example__price {
    flex-basis: 100%;
    margin-left: unset;
    margin-top: 60px;
    margin-bottom: 0;
    text-align: left;
  }

  .example__images {
    margin-left: auto;
    max-width: 592px;
    min-height: auto;
  }
}
