@import "../global/variables";

.example-stats {
  border: 1px solid $special_grey;
  border-radius: 3px;
  text-align: center;
  position: relative;
}

.example-stats__num {
  color: $basic_black;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

.example-stats__text {
  background-color: $special_light-grey;
  font-family: $secondary_font;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  margin: 0 auto;
  width: 87px;
}

@media (min-width: $tablet_width) {
  .example-stats__text {
    background-color: $basic_white;
    width: max-content;
  }
}
