@import "../global/variables";
@import "../global/mixins";

.example {
  background-color: $special_light-grey;
  padding: 25px 0 40px;
}

.example__title {
  @include section-title;
  margin: 0 0 40px;
}

.example__text {
  font-family: $secondary_font;
  margin-top: 0;
  margin-bottom: 20px;
}

.example__data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.example__stats {
  padding: 13px 15px 17px;
  flex-basis: 124px;
}

.example__price {
  margin-top: 34px;
  margin-bottom: 40px;
  color: $basic_black;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  flex-basis: 100%;
}

.example__price-value {
  display: inline-block;
}

.example__states {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.example__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__slide {
  display: none;

  &--active {
    display: block;
  }
}

.example__button {
  background-color: transparent;
  border: 0;
  padding: 0;
  min-width: 49px;
  color: $basic_black;
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.example__line {
  margin-left: 13px;
  margin-right: 13px;
  background-color: $basic_white;
  border: 1px solid $special_grey;
  border-radius: 6px;
  width: 86px;
  height: 14px;
  position: relative;
}

.example__line-indicator {
  position: absolute;
  top: 3px;
  left: 6px;
  background-color: $basic_green;
  border-radius: 6px;
  width: 36px;
  height: 6px;
}

@media (min-width: $tablet_width) {
  .example {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
  }

  .example__container {
    border-top: 1px solid #e6e6e6;
    padding-top: 43px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: inline-block;
      min-height: 462px;
      height: 462px;
      width: 100%;
      background-color: $special_light-grey;
    }
  }

  .example__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
  }

  .example__text {
    margin-bottom: 54px;
  }

  .example__data {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .example__stats {
    flex-basis: 162px;
    margin-right: 42px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .example__price {
    font-size: 20px;
    margin-left: auto;
    flex-basis: 174px;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
  }

  .example__price-value {
    margin-top: 9px;
  }

  .example__slider {
    margin-top: 85px;
    position: relative;
    min-height: 632px;
  }

  .example__slide,
  .example__slide {
    width: 592px;
    height: 511px;
  }

  .example__states {
    margin: 28px auto 0;
    max-width: 582px;
    justify-content: space-between;
  }

  .example__button {
    font-size: 20px;
    border-bottom: 1px dotted rgba($basic_black, 0.4);

    &:hover,
    &:focus {
      border-style: solid;
    }

    &:active {
      border-color: transparent;
    }
  }

  .example__line {
    margin-right: 23px;
    margin-left: 23px;
    width: 452px;
    height: 6px;
    background-color: $special_grey;
    border-radius: 6px;
  }

  .example__line-indicator {
    width: 34px;
    height: 34px;
    border: 1px solid $special_grey;
    border-radius: 50%;
    background-color: $basic_white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms linear;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 8px;
      height: 8px;
      background-color: $basic_green;
      border-radius: 50%;
    }

    &:hover,
    &:focus {
      transition: all 300ms linear;
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
      border-color: $basic_green;
    }
  }
}

@media (min-width: $desktop_width) {
  .example {
    padding-top: 0;
  }

  .example__container {
    display: flex;
    padding-bottom: 65px;
    padding-top: 0;
    border: 0;

    &::after {
      height: calc(100% - 179px);
      left: -80px;
      right: -80px;
      width: 1440px;
    }
  }

  .example__content {
    margin-top: 43px;
    max-width: 440px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__text {
    margin-bottom: 69px;
  }

  .example__data {
    flex-wrap: wrap;
  }

  .example__price {
    flex-basis: 100%;
    margin-left: unset;
    margin-top: 60px;
    margin-bottom: 0;
    text-align: left;
  }

  .example__price-value {
    margin-top: 0;
    margin-left: 60px;
  }

  .example__slider {
    margin-left: auto;
    margin-top: 0;
    max-width: 592px;
    min-height: auto;
    width: 100%;
  }
}
