@import "../global/variables";

.features__item {
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: $basic_green no-repeat center;
  }

  &--leaf::before {
    background-image: url("../../img/icon-leaf.svg");
  }

  &--tub::before {
    background-image: url("../../img/icon-tub.svg");
  }

  &--eat::before {
    background-image: url("../../img/icon-eat.svg");
  }

  &--alarm::before {
    background-image: url("../../img/icon-alarm.svg");
  }
}

.features__title {
  margin: 0 0 40px;
}

.features__list {
  margin: 0 0 49px;
  padding: 0;
  list-style-type: none;
}
