@import "../global/variables";
@import "../global/mixins";

.page-footer {
  @include margin-side-auto;
  max-width: $desktop_width;
  background-color: $basic_grey;
}

.page-footer__container {
  @include margin-side-auto;
  padding: 39px 20px 22px;
  max-width: 1220px;
}

.page-footer__logo {
  display: flex;
  width: max-content;
  margin: 0 auto 29px;
  line-height: 24px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin-bottom: 22px;
}

@media (min-width: $tablet_width) {
  .page-footer__container {
    padding: 58px 30px 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;
    align-self: flex-end;
  }

  .page-footer__social {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop_width) {
  .page-footer__container {
    padding: 57px 0 55px;
  }
}
