@import "../global/variables";

.page-footer__container {
  background-color: $basic-grey;
  padding: 39px 20px 22px;
}

.page-footer__logo {
  margin-bottom: 32px;
}

.page-footer__social {
  margin-bottom: 22px;
}
