@import "../global/variables";

.page-footer {
  background-color: $basic_grey;
}

.page-footer__container {
  padding: 39px 20px 22px;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__logo {
  margin-bottom: 32px;
}

.page-footer__social {
  margin-bottom: 22px;
}

@media (min-width: $tablet_width) {
  .page-footer__container {
    padding: 58px 30px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }
}
