@import "../global/variables";

.page-header--inside {
  border-bottom: 1px solid #d9d9d9;
}

.page-header__container {
  padding-top: 6px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
}

.page-header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.page-header__logo-image {
  width: 191px;
  height: 38px;
}

@media (min-width: $tablet_width) {
  .page-header--inside {
    border-bottom: 0;
  }

  .page-header__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .page-header__logo-image {
    width: 174px;
    height: 52px;
  }
}

@media (min-width: $desktop_width) {
  .page-header__container {
    padding-top: 53px;
    padding-bottom: 29px;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
