@import "../global/variables";

.product-card {
  color: $special_dark-grey;
  font-weight: 400;
}

.product-card--empty .product-card__title {
  margin-bottom: 8px;
}

.product-card--empty .product-card__desc p {
  margin-bottom: 21px;
}

.product-card--empty .product-card__button {
  background-color: $basic_grey;
  color: $special_dark-grey;
}

.product-card__title {
  margin: 0 0 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__details {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product-card__button {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.product-card__desc p {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
