@import "../global/variables";
@import "../global/mixins";

.program__container {
  margin-bottom: 20px;
}

.program__list {
  @include reset-list;
}

.program__item {
  margin-bottom: 20px;
  padding: 24px 20px 18px 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__title {
  color: $basic_black;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

@media (min-width: $tablet_width) {
  .program__container {
    margin-bottom: 45px;
  }

  .program__item {
    margin-bottom: 30px;
  }

  .program__title {
    font-size: 36px;
    line-height: 1;
  }
}

@media (min-width: $desktop_width) {
  .program__container {
    margin-bottom: 70px;
  }

  .program__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }

  .program__item {
    margin-bottom: 0;
  }
}
