@import "../global/variables";
@import "../global/mixins";

.social__list {
  @include reset-list;
  padding: 11px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  display: inline-block;
  line-height: 1;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  padding: 10px;
  display: inline-block;
}

.social__link-vk {
  width: 23px;
  height: 16px;
}

.social__link-instagram {
  width: 16px;
  height: 16px;
}

.social__link-facebook {
  width: 10px;
  height: 18px;
}

@media (min-width: $tablet_width) {
  .social__list {
    border: 0;
    padding: 0;
  }

  .social__item {
    margin-right: 27px;
  }

  .social__link {
    padding: 0;
  }

  .social__link-vk {
    width: 30px;
    height: 22px;
  }

  .social__link-instagram {
    width: 23px;
    height: 23px;
  }

  .social__link-facebook {
    width: 13px;
    height: 27px;
  }
}
